@model EventAppDataObjects.Guest

@{
    ViewBag.Title = "Details";
}

<h2>Room @Html.DisplayFor(model => model.RoomID) Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>*@

    </dl>
@if (Request.IsAuthenticated && User.IsInRole("Clerk"))
{
    @Html.Action("EventsForRoom", "Events", new { guestRoom = Model.RoomID })
}

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GuestID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
